@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: rgb(20, 20, 20);
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    margin: 20px;
    border-radius: 55px;
    background-color: rgb(10, 10, 10);
    height: 80px;
}

.nav_links {
    list-style: none;
    background-color: rgb(10, 10, 10);
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
    background-color: rgb(10, 10, 10);
}

.nav_links li a {
    transition: all 0.3s ease 0s;
    font-size: large;
    font-weight: bold;
    color: coral;
    background-color: rgb(10, 10, 10);
}

.nav_links li a:hover {
    color: rgb(20, 20, 20);
    padding: 10px;
    background-color: coral;
    border-radius: 55px;
}

a:is(:link, :active, :visited).active {
    color: rgb(20, 20, 20);
    padding: 10px;
    background-color: coral;
    border-radius: 55px;
}

#container {
    /* display: flex;
    align-items: center;
    padding: 30px; */

    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: repeat( auto-fill, minmax(500px, 1fr) );
    row-gap: 9em;
    margin: 30px;
    color: coral;
    justify-content: center;
}

#container div {
    padding: 30px;
}

iframe {
    border: none;
    border-radius: 15px;
    height: 140%;
    width: 100%;
}

iframe:hover {
    box-shadow:0 0 3px 2px rgb(255, 255, 255);
}

h3 {
    padding-bottom: 20px;
}

.inactiveLink {
    pointer-events: none;
    cursor: default;
 }

 h1 {
     color: coral;
     margin-left: 55px;
     margin-top: 30px;
     margin-bottom: 0;
     font-weight: bold;
 }

 .logo {
     width: 230px;
     height: auto;
     margin: 0;
     padding: 0;
     position: absolute;
     left: 3%;
     top: 0.75%;
     cursor: pointer;
     border: none;
     background: none;
 }